Flujos nodeRed/flujo_test_mqtt.json
[
    {
        "id": "4c0dec7e.b587a4",
        "type": "tab",
        "label": "test mqtt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7fb04a08.d1edf4",
        "type": "switch",
        "z": "4c0dec7e.b587a4",
        "name": "Disparador rele",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "22",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "22",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 1840,
        "wires": [
            [
                "341cf87b.a6b6d8"
            ],
            [
                "d9e28ec9.9cb1e"
            ]
        ]
    },
    {
        "id": "1cc0500b.d6f87",
        "type": "mqtt in",
        "z": "4c0dec7e.b587a4",
        "name": "",
        "topic": "/CLIENTE_66/T_dht",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9f1d3022.c9017",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1940,
        "wires": [
            [
                "8a280989.efea38",
                "f2fe6fea.26ae2"
            ]
        ]
    },
    {
        "id": "98a31174.b4007",
        "type": "debug",
        "z": "4c0dec7e.b587a4",
        "name": "Depuracion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1940,
        "wires": []
    },
    {
        "id": "d63636a4.d43558",
        "type": "influxdb out",
        "z": "4c0dec7e.b587a4",
        "influxdb": "ccee62f0.fb612",
        "name": "grabar datos",
        "measurement": "cliente_66_dht_t",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 610,
        "y": 2040,
        "wires": []
    },
    {
        "id": "8a280989.efea38",
        "type": "change",
        "z": "4c0dec7e.b587a4",
        "name": "Conversión a número",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1940,
        "wires": [
            [
                "98a31174.b4007",
                "d63636a4.d43558",
                "7fb04a08.d1edf4"
            ]
        ]
    },
    {
        "id": "eede7dab.9b3c5",
        "type": "mqtt out",
        "z": "4c0dec7e.b587a4",
        "name": "LED On",
        "topic": "/CLIENTE_66/LED",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f1d3022.c9017",
        "x": 1000,
        "y": 1760,
        "wires": []
    },
    {
        "id": "db825706.2c5198",
        "type": "mqtt out",
        "z": "4c0dec7e.b587a4",
        "name": "LED Off",
        "topic": "/CLIENTE_66/LED",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f1d3022.c9017",
        "x": 1000,
        "y": 1880,
        "wires": []
    },
    {
        "id": "341cf87b.a6b6d8",
        "type": "change",
        "z": "4c0dec7e.b587a4",
        "name": "Set On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "On",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/CLIENTE_66/LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1760,
        "wires": [
            [
                "eede7dab.9b3c5",
                "3fd6562e.1e889a"
            ]
        ]
    },
    {
        "id": "d9e28ec9.9cb1e",
        "type": "change",
        "z": "4c0dec7e.b587a4",
        "name": "Set Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/CLIENTE_66/LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1880,
        "wires": [
            [
                "db825706.2c5198",
                "3fd6562e.1e889a"
            ]
        ]
    },
    {
        "id": "3fd6562e.1e889a",
        "type": "debug",
        "z": "4c0dec7e.b587a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1820,
        "wires": []
    },
    {
        "id": "f2fe6fea.26ae2",
        "type": "debug",
        "z": "4c0dec7e.b587a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 2020,
        "wires": []
    },
    {
        "id": "88790a6d270108a1",
        "type": "mqtt in",
        "z": "4c0dec7e.b587a4",
        "name": "",
        "topic": "/CLIENTE_66/H_dht",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9f1d3022.c9017",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 2340,
        "wires": [
            [
                "c844b63faf199bed",
                "c895678d55aaf71e"
            ]
        ]
    },
    {
        "id": "c5b0a14def03839a",
        "type": "debug",
        "z": "4c0dec7e.b587a4",
        "name": "Depuracion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 2340,
        "wires": []
    },
    {
        "id": "e17767ae32a4c946",
        "type": "influxdb out",
        "z": "4c0dec7e.b587a4",
        "influxdb": "ccee62f0.fb612",
        "name": "grabar datos",
        "measurement": "cliente_66_dht_h",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 610,
        "y": 2440,
        "wires": []
    },
    {
        "id": "c844b63faf199bed",
        "type": "change",
        "z": "4c0dec7e.b587a4",
        "name": "Conversión a número",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2340,
        "wires": [
            [
                "c5b0a14def03839a",
                "e17767ae32a4c946"
            ]
        ]
    },
    {
        "id": "c895678d55aaf71e",
        "type": "debug",
        "z": "4c0dec7e.b587a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 2420,
        "wires": []
    },
    {
        "id": "756556a3d7bcc4e2",
        "type": "mqtt in",
        "z": "4c0dec7e.b587a4",
        "name": "",
        "topic": "/CLIENTE_66/T_bme",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9f1d3022.c9017",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 2540,
        "wires": [
            [
                "00b34d1a0a3bc07d",
                "d79b1187069186b6"
            ]
        ]
    },
    {
        "id": "9c2d7249ef86724e",
        "type": "debug",
        "z": "4c0dec7e.b587a4",
        "name": "Depuracion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 2540,
        "wires": []
    },
    {
        "id": "00b34d1a0a3bc07d",
        "type": "change",
        "z": "4c0dec7e.b587a4",
        "name": "Conversión a número",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2540,
        "wires": [
            [
                "9c2d7249ef86724e",
                "8c37203773dea367"
            ]
        ]
    },
    {
        "id": "d79b1187069186b6",
        "type": "debug",
        "z": "4c0dec7e.b587a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 2620,
        "wires": []
    },
    {
        "id": "8c37203773dea367",
        "type": "influxdb out",
        "z": "4c0dec7e.b587a4",
        "influxdb": "ccee62f0.fb612",
        "name": "grabar datos",
        "measurement": "cliente_66_bme_t",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 2620,
        "wires": []
    },
    {
        "id": "9f1d3022.c9017",
        "type": "mqtt-broker",
        "name": "raspi5 - 192.168.1.140",
        "broker": "192.168.1.140",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ccee62f0.fb612",
        "type": "influxdb",
        "hostname": "192.168.1.140",
        "port": "8086",
        "protocol": "http",
        "database": "lora_db",
        "name": "raspi5 - 192.168.1.140",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": true
    }
]